{% extends 'base.html' %}
{% load static %}

{% block body %}
<body class="sub_page">
{% endblock body %}

{% block content %}
</div>

  
<section class="about_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 px-0">
        <div class="img_container">
          <div class="img-box">
            <img src="{% static 'images/about1.jpg' %}" alt="" />
         </div>
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="detail-box">
          <div class="heading_container ">
            <h2>
              who are we
            </h2>
          </div>
          <p style='text-align: justify;'>Welcome to Photo Contest! We are a dynamic platform that offers photographers of all backgrounds, whether beginners or seasoned professionals, a space to showcase their talent, express their creativity, and engage in friendly competitions. Whether you're capturing breathtaking landscapes, vibrant portraits, or everyday moments, this is the perfect place to share your vision with a community that values creativity.<br>

            At Photo Contest, we believe in fostering a vibrant and inclusive community. Our mission is to inspire photographers from around the globe to push the boundaries of their artistic expression while learning from others and growing their skills. This platform is more than just a contest hub—it’s a place where passion for photography unites individuals who are eager to connect, share ideas, and celebrate one another’s work.<br>
            
            By joining us, you'll gain the opportunity to participate in exciting and unique challenges designed to test your abilities and inspire new perspectives. Not only will you gain recognition for your work, but you’ll also have the chance to win fantastic prizes that reward your creative achievements.<br>
            
            Whether you're here to build your portfolio, connect with fellow photography enthusiasts, or simply have fun, Photo Contest offers an experience like no other. Join our community today, showcase your photography, and take the first step toward unleashing your full creative potential!<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
  

 